body {
  background-color: #140B10;
  background-size: cover;
  height: 100vh;
  padding: "50px 50px";
}

#root {
  margin: 0 auto;
  text-align: center;
}
 
@media (max-width: 1024px) {
  .content {
    display: none;
  }

  .restriction-message {
    display: block;
  }
}

.background_lines {
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  /* opacity: 0.05; */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}